body{
	background-color: #F8F8F8;
}

.body-logeo{
	background: #7FBF22 url('../img/fondo-body.jpg') no-repeat;
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.pagina{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.contenedor-logeo{
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.5);
  margin: 0px auto;
  width: 600px;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -205px;
  margin-left: -300px;
}

h3.titulo-header{
	color: #ffffff;
}

h3.titulo-contenido{
	color: #ffffff;
	/*color: #337ab7;*/
}

.modal-header{
	background-color: #337ab7;
}

.modal-body, .modal-footer{
	background-color: #F8F8F8;
	border-radius: 0px 0px 5px 5px;
}

.img-header{
	width: 60px;
}

.centro{
	text-align: center;
}

.derecha{
	text-align: right;
}

.alert{
	text-align: center;
}

.navbar-right{
	margin-right: 5px;
}

.fondo-body{
	background: #7FBF22 url('../img/fondo-body.jpg') no-repeat;
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.contenido-general{
	background-color: #F8F8F8;
	/*border-radius: 0px 0px 5px 5px;*/
	/*border: 1px solid #333333;*/
	/*box-shadow: 0 0 5px 3px rgba(0,0,0,0.5);*/
	margin: 0px auto;
	margin-top: 50px;
	width: 100%;
}

.contenido-general-2{
	margin: 0px auto;
	width: 98%;
}

.div-contenedor-form{
	margin: 0px auto;
	width: 50%;
}

.div-buscar{
	margin: 0px auto;
	width: 98%;
}

a{
	color: #337ab7;
}

textarea{
	resize: none;
}

.pendiente{
	color: #ec971f;
	font-weight: bold;
}

.rechazado{
	color: #d43f3a;
	font-weight: bold;
}

.enviado{
	color: #286090;
	font-weight: bold;
}

.concretado{
	color: #449d44;
	font-weight: bold;
}

.cancelado{
	color: #d43f3a;
	font-weight: bold;
}

.aprobado{
	color: #31b0d5;
	font-weight: bold;
}

.link-estado{
	cursor: pointer;
}

#inputNombreEmpaque{
	width: 100%;
}

.lbl-nueva-orden{
	padding-top: 5px;
}